.main{
  padding: 20px;
  background-color:#eee;
  height: 90vh;
  text-align: center;
}
.main h1{
  color: #333;
}
.currency{
  display: flex;
  align-items: center;
  justify-content:center ;
  margin-top: 50px;
  gap: 30px;
}
 select{
  padding: 5px 10px;
  border: gray 1px solid;
  outline: none;

}
 input{
  padding: 10px;
  outline: none;
  margin-top: 100px;
}
.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
}